body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

#unset {
  background: #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#consideration {
  background: rgb(251, 255, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border:1px solid black; 
}
#revise {
  background: rgb(255, 115, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border:1px solid black;
}
#burned {
  background: #f00;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border:1px solid black;
}
#funded {
  background: rgb(51, 255, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border:1px solid black;
}  